<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link" href="">Filter:-</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="openEnd(content)"><i class="me-2 mdi mdi-tune"></i></a>
          </li>
          <li class="nav-item" *ngFor="let filter of ['Size', 'Types', 'Collection', 'Color']">
            <a class="nav-link" (click)="openEnd(content)">{{ filter }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Filter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <hr />
  <div class="offcanvas-body">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Sizes">
        <ng-template ngbPanelContent>
          <div class="form-check form-check-inline" *ngFor="let Size of sizeS">
            <input class="form-check-input" type="checkbox" [id]="sizeS" (change)="onFilterChange($event, 'sizes', Size)">
            <label class="form-check-label" [for]="sizeS">{{ Size }}</label>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Bra Types">
        <ng-template ngbPanelContent>
          <div class="form-check form-check-inline" *ngFor="let bra_types of bra_types">
            <input class="form-check-input" type="checkbox" [id]="sizeS" (change)="onFilterChange($event, 'bra_types', bra_types)">
            <label class="form-check-label" [for]="bra_types">{{ bra_types }}</label>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Collection">
        <ng-template ngbPanelContent>
          <div class="form-check form-check-inline" *ngFor="let brand of brands">
            <input class="form-check-input" type="checkbox" (change)="onFilterChange($event, 'collections', brand)" [id]="brand">
            <label class="form-check-label" [for]="brand">{{ brand }}</label>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Color">
        <ng-template ngbPanelContent>
          <div class="form-check form-check-inline" *ngFor="let color of validColors">
            <input class="form-check-input" type="checkbox" [id]="'checkbox-' + color" [value]="color" (change)="onFilterChange($event, 'colors', color)">
            <label class="form-check-label" [for]="'checkbox-' + color">
              <span class="rounded-circle" [style.backgroundColor]="color" style="width: 20px; height: 20px; display: inline-block; border: 1px solid;"></span>
            </label>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="text-end pt-2">
      <button type="button" class="btn btn-outline-secondary" (click)="offcanvas.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>