<!-- Work Tab Form Starts -->
<form #workForm="ngForm" class="editForm" novalidate>
    <div >
        <div class="tab-pane active">
            <h4 class="head text-center">{{title}}</h4>
            <br/>
            <div class="mb-3 input-group mt-4 pt-3"> 
              <span class="input-group-text">
                  <i class="fab fa-cc-visa"></i>
              </span> 
          <input type="text" class="form-control" name="cardNo" placeholder="Card Number" aria-label="Amount (to the nearest dollar)">
      </div>
      <div class="row">
          <div class="col-xs-7 col-md-7">
              <div class="mb-3">
                  <label>EXPIRATION DATE</label>
                  <input type="text" class="form-control" name="Expiry" placeholder="MM / YY" required=""> </div>
          </div>
          <div class="col-xs-5 col-md-5 float-end">
              <div class="mb-3">
                  <label>CV CODE</label>
                  <input type="text" class="form-control" name="CVC" placeholder="CVC" required=""> </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="mb-3">
                  <label>NAME OF CARD</label>
                  <input type="text" class="form-control" name="nameCard" placeholder="NAME AND SURNAME"> </div>
          </div>
      </div>
            <div class="form-group text-center space-20">
                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary me-1" (click)="cancel()"> Previous</button>
                <button uiSref="address" type="button" class="btn btn-raised btn-info" [disabled]="!workForm.valid" (click)="save(workForm)"> Make Payment </button>
            </div>
        </div>
    </div>
</form>
<!-- Work Tab Form Ends -->