// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.table-success{
    background:#0b89d3;
    color: #fff;
}
// .table-primary{

// }
.modal-content {
    height: 30rem !important;
}
.modal-body{
    overflow-y: auto !important;
}
.modal-dialog{
    max-width: inherit;
    margin-right: auto;
    margin-left: auto;
}
.modal-footer{
  position: sticky;
  bottom: 0;
  background-color: inherit; /* [1] */
  z-index: 1055;
  justify-content: center;
}
.modal-dialog .modal-sm {
    width: 500px !important;
}
.modal-dialog .modal-lg {
    width: 900px !important;
}
.modal-dialog .modal-xl {
    width: 1100px !important;
}
.buy-package{
    padding: 20px;
    /* border: 1px solid gray; */
    background: #07c191;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
li.nav-item.buy-package:hover {
    background: #06a47b !important;
    color: #fff;
}
// .topbar .top-navbar .navbar-nav > .nav-item > .buy-package:hover{
//     background: #1d7b63;
//     color: #fff;
// }
.badge.badge-pill {
    padding: 0.2em 0.6em !important;
    top: 11px !important;
    right: 11rem !important;
    border-radius: 50px;
} 
@media (min-width: 1024px){
    .modal-sm {
        width: 500px !important;
    }
    .modal-lg {
        width: 900px !important;
    }
    .modal-xl {
        width: 1100px !important;
    }
}
ngb-rating{
    color: #D72229;
    font-size: 30px;
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #D72229 !important;
    --bs-btn-border-color: #D72229 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #D72229 !important;
    --bs-btn-hover-border-color: #D72229 !important;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #D72229 !important;
    --bs-btn-active-border-color: #D72229 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D72229 !important;
    --bs-btn-disabled-border-color: #D72229 !important;
}

