<div class="row">
    <div class="col-lg-12">
        <h2>Return Options: eShopWorld</h2>
        <p>The instructions below are valid for online orders shipped with U.S. Direct E-Commerce Limited (trading as
            ESW). This includes online orders that start with the letter "E." If your order was not shipped through our
            partner ESW, view our International Returns FAQ.</p>

        <h4><b>STEP 1: </b>Log into the ESW Returns Portal and select the items you wish to return.</h4>
        <p>You will need your order number and email address.</p>
        <p>Package your return item(s) and your packing slip.</p>
        <p><b>Note: </b>Effective 4/1/2024, all items may be returned for a period of 60 days only, after that period,
            all sales are considered final.</p>
        <h4><b>STEP 2: </b>Print your return label from the Portal and affix it to the outside of your package.</h4>
         <p>If your label does not open, check your browser settings to allow pop ups. If you are using a program that blocks pop ups, please review the settings to allow them for this site.</p>
        <h4><b>STEP 3:</b> Return your item(s) using the carrier of your choice.</h4>
        <p> Return address is provided from the Returns Service Portal.</p>
        <p>You are responsible for return shipping costs.</p>
        <p>Return shipping costs vary by location. We recommend checking with local carriers regarding return shipping options.</p>
     <h2>RETURN POLICY GUIDELINES:</h2>
     <p>Please allow up to 30 days for your return to be received and processed. We will send you an email when your package arrives at our Return Center for verification and refund processing. Exchanges are not possible at this time. Instead, you can return the unwanted item(s) and order new items separately.</p>
     <p>ANY items(s) purchased online that you don't love may be returned, including Sale & Clearance merchandise, for 60 days post purchase (effective 4/1/2024). Original shipping and handling fees are not refundable. Offers are subject to adjustment due to returns, and cancellations.</p>
     <p>If you received an incorrect, damaged or defective item, please contact Customer Care so that we may assist in correcting the error.</p>
    <a href="">Learn more about the European Union (EU) Consumer Right of Return and Refund ("Cooling Off Period").</a>
    <h2>RETURNING A STORE PURCHASE:</h2>
    <p>Items purchased at a Victoria's Secret store must be returned or exchanged in a store located in the original country of purchase. Be sure to bring your original receipt to a store located in the original country of purchase.</p>
</div>
</div>