<app-bag-view></app-bag-view>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-3">
      <div class="card">
        <img [src]="imageUrl" alt="Twam" class="card-img-top" (click)="dataview()">
        <div class="card-body">
          <div class="d-flex ">
            <button *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="changeColor(color)"
              class="btn me-2 btn-circle rounded-circle d-flex justify-content-center border">
            </button>
          </div>
          <h6 class="card-title" (click)="dataview()">Amante-Bridal Bra Panty Sets-red </h6>
          <p>Price : {{price}} </p>
        </div>
      </div>
    </div>
    <!-- assets/images/product/bras.webp -->
    <div class="col-lg-3 col-md-4 col-sm-3">
      <div class="card">
        <img src="assets/Product/Amante/Bras/BridalSets/002.webp" alt="Twam" class="card-img-top" (click)="dataview()">
        <div class="card-body">
          <div class="d-flex ">
            <button *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="changeColor(color)"
              class="btn me-2 btn-circle rounded-circle d-flex justify-content-center border">
            </button>
          </div>
          <h6 class="card-title" (click)="dataview()">Triumph-Bridal Bra Panty Sets-black | A039 </h6>
          <p>Price : {{price}} </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-3">
      <div class="card">
        <img src="assets/Product/Amante/Bras/BridalSets/003.webp" alt="Twam" class="card-img-top" (click)="dataview()">
        <div class="card-body">
          <div class="d-flex ">
            <button *ngFor="let color of colors" [ngStyle]="{'background-color': color}" (click)="changeColor(color)"
              class="btn me-2 btn-circle rounded-circle d-flex justify-content-center border">
            </button>
          </div>
          <h6 class="card-title" (click)="dataview()">Soie-Bridal Bra Panty Sets-Gold | A039 </h6>
          <p> Price : {{price}} </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-3">
      <div class="card">
        <div class="image-wrapper">
          <img src="assets/Product/Amante/Bras/BridalSets/004.webp" alt="Twam" class="card-img-top" (click)="dataview()">
          <div class="card-body">
            <div class="d-flex ">
              <button *ngFor="let color of colors" [ngStyle]="{'background-color': color}"
                (click)="changeColor(color)"
                class="btn me-2 btn-circle rounded-circle d-flex justify-content-center border">
              </button>
            </div>
            <h6 class="card-title" (click)="dataview()">Blossom-Bridal Bra Panty Sets-nav Blue | A039 </h6>
            <p> Price : {{price}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>