<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        <h6 class="card-title">Filters</h6>
        <hr />
        <div class="card-body">
          <ul  class="list-style-none">
              <li>
                <div class="drop-title ">
                  <span class="font-light">Bra</span>
                </div>
              </li>
              <li>
                <div class="drop-title ">
                  <span class="font-light">Paintes</span>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>
            <p> Price : {{price}} </p>
            <p>Rewards: <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <!-- assets/images/product/bras.webp -->
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>
            <p>Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras-01.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p>Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>