<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        <div class="d-inline-block">
          <div>
            <h6 class="card-title">Filters</h6>
          </div>

        </div>
        <hr />
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>
            <p> Price : {{price}} </p>
            <p>Rewards: <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <!-- assets/images/product/bras.webp -->
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>
            <p>Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
            <slide *ngFor="let slide of slides; let index=index">
              <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p>Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bras.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">Perfect Coverage Supima Cotton T-Shirt Bra | A039 </h6>

            <p> Price : {{price}} </p>
            <p>Rewards : <img [src]="rewardImagePath" alt="Reward Image"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>