<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 co-sm-6">
        <img src="assets/images/logos/TWAM.png" alt="" width="350">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6">
        <carousel>
          <slide>
            <div class="text-center py-5  text-white" style="background-image: url('assets/images/big/3_bg.jpg');">
              <h2>First custom content</h2>
              <div class="lead">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 bg-dark text-white"
              style="background-image: url('assets/images/big/Step-1.jpg');background-position: center;">
              <h2>Second custom content</h2>
              <div class="lead">
                <h3>Second slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </slide>
          <slide>
            <div class="text-center py-5 bg-dark text-white"
              style="background-image: url('assets/images/big/Step-1.jpg');background-position: center;">
              <h2>Third custom content</h2>
              <div class="lead">
                <h3>Third slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
              </div>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title m-b-40">Best Collections</h4>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra2.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra3.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra4.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra5.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra6.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra7.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra7.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/trial12.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-1.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-2.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-3.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/2.jpg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title m-b-40">Shop By Category</h4>
        <div id="carouselExampleControls1 " class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra2.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra3.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra4.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra5.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra6.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra7.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra7.jpeg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/trial12.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-1.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-2.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bra1-3.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/2.jpg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn ">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
<section>
  <div class="container">
    <h4 class="card-title m-b-40">TWAM Promise</h4>
    <div class="row py-2">
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card home_pro">
          <img src="assets/images/product/A017.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Two and a half year ago.we tried period Underwear for the first time</p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card home_pro">
          <img src="assets/images/product/A017.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Two and a half year ago.we tried period Underwear for the first time</p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card home_pro">
          <img src="assets/images/product/A017.webp" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Two and a half year ago.we tried period Underwear for the first time</p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h4 class="card-title m-b-40">TWAM Promise</h4>
    <div class="row py-2">
      <div class="col-lg-6 col-md-4 col-sm-3">
        <div class="card home_pro">
          <img src="assets/images/product/download.jpeg" alt="Twam" class="card-img-top">
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-3">
        <div class="card home_pro">
          <img src="assets/images/product/download.jpeg" alt="Twam" class="card-img-top">
        </div>
      </div>
    </div>
  </div>
</section>