<!-- <section class="vh-100" style="background: url('assets/images/background/cart.avif') no-repeat ;">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/images/logos/TWAM.png" class="img-fluid" alt="Sample image" style="mix-blend-mode: darken;">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="login-container" [ngClass]="{'d-none': recoverform}">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Sign in with</p>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-facebook-f"></i></button>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-twitter"></i></button>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-linkedin-in"></i></button>
        </div>
        <div class="divider align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">-----------Or-----------</p>
        </div>
        <form [formGroup]="userobj.form" (ngSubmit)="onSubmit()" novalidate>
          <div class="mb-3 row">
            <input class="form-control" type="text" formControlName="username" placeholder="Username">
          </div>
          <div class="mb-3 row">
            <input class="form-control" type="password" formControlName="password" placeholder="Password">
         
          </div>
          <button class="btn d-block w-100 btn-lg btn-info" type="submit">SIGN UP</button>
          <div class="text-center mt-2">
            Already have an account? <a href="login" class="text-info">Sign In</a>&nbsp;&nbsp;
            <a (click)="showRecoverForm()" href="javascript:void(0)" class="text-dark ms-auto"><i
                class="fa fa-lock me-2"></i>Forgot pwd?</a>
          </div>
        </form>
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="recover-container" [ngClass]="{'d-none': !recoverform}">
        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
          <p class="lead fw-normal mb-0 me-3">Sign in with</p>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-facebook-f"></i></button>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-twitter"></i></button>
          <button type="button" class="btn btn-primary btn-floating mx-1"><i class="fab fa-linkedin-in"></i></button>
        </div>
        <div class="divider align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">-----------Or-----------</p>
        </div>
        <form [formGroup]="Otpupdateobj.form" (ngSubmit)="onRecoverSubmit()" novalidate>
          <div class="mb-3 row">
            <input class="form-control" type="text" formControlName="email" placeholder="Email id">
          </div>
          <div class="mb-3 row">
            <input class="form-control" type="password" formControlName="newPassword" placeholder="New Password">
          </div>
          <button class="btn d-block w-100 btn-lg btn-danger" type="submit">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template #dangerTpl>
  <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z" />
  </svg>
  Danger Danger !
</ng-template> -->


<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box m-3 m-md-0">
      <div id="loginform" [ngClass]="{'d-none': recoverform}">
          <div class="text-center">
            <span class="db"><img src="assets/images/logos/TWAM.png" alt="logo" height="100"/></span>
              <!-- <h5 class="font-medium mb-4">Sign In </h5> -->
          </div>
          <div class="row">
              <div class="col-12">
                  <form class="form-horizontal mt-3"  [formGroup]="userobj.form" autocomplete="off" (ngSubmit)="onSubmit()" novalidate>
                    <div class="input-group mb-2"> 
                          <input type="text" class="form-control" formControlName="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div *ngIf="userobj.form.get('username')?.touched && userobj.form.get('username')?.errors?.['required']">
                          <small class="text-danger">username is required.</small>
                        </div>
                      <div class="input-group "> 
                          <input type="text" class="form-control" formControlName="password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                        </div>
                        <div *ngIf="userobj.form.get('password')?.touched && userobj.form.get('password')?.errors?.['required']">
                          <small class="text-danger">Password is required.</small>
                        </div>
                      <div class="form-group row">
                          <div class="col-md-12">
                              <div class="form-check d-flex">
                                  <input type="checkbox" class="form-check-input" id="customCheck1">
                                  <label class="form-check-label  ms-2" for="customCheck1" formControlName="rememberMe">Remember me</label>
                                  <a (click)="showRecoverForm()" href="javascript:void(0)" id="to-recover" class="text-dark ms-auto"><i class="fa fa-lock me-2"></i> Forgot pwd?</a>
                              </div>
                          </div>
                      </div>
                      <div class="form-group text-center mt-3">
                          <div class="col-xs-12">
                              <button class="btn d-block w-100 btn-lg btn-info" type="submit">Log In</button>
                          </div>
                      </div>
                      <div class="row mt-4">
                          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 text-center">
                              <div class="social">
                                  <a href="javascript:void(0)" class="btn btn-primary me-2" data-toggle="tooltip" title="" data-original-title="Login with Facebook"> <i aria-hidden="true" class="fab fa-facebook-f"></i> </a>
                                  <a href="javascript:void(0)" class="btn btn-danger" data-toggle="tooltip" title="" data-original-title="Login with Google"> <i aria-hidden="true" class="fab fa-google-plus-g"></i> </a>
                              </div>
                          </div>
                      </div>
                      <div class="form-group mb-0 mt-2">
                          <div class="col-sm-12 text-center">
                              Don't have an account? <a href="product-components/registration" class="text-info ms-1"><b>Sign Up</b></a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div id="recoverform" [ngClass]="{'d-block': recoverform}">
        <div class="text-center">
          <div class="logo">
              <span class="db"><img src="assets/images/logos/TWAM.png" alt="logo" width="150" /></span></div>
              <h6 class="font-medium mb-4">Recover Password</h6>
              <span>Enter your Email and instructions will be sent to you!</span>
          </div>
          
          <div class="row mt-3">
              <!-- Form -->
              <form class="col-12">
                  <!-- email -->
                  <div class="form-group row">
                      <div class="col-12">
                          <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                      </div>
                  </div>
                  <!-- pwd -->
                  <div class="row mt-3">
                      <div class="col-12">
                          <button class="btn d-block w-100 btn-lg btn-danger" type="submit" name="action">Reset</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>