<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="mt-4 text-center">
                    <img src="assets/images/users/user5.jpg" class="rounded-circle" width="150" />
                    <h4 class="card-title mt-2">Eshwar vadde</h4>
                    <h6 class="card-subtitle">8500424039</h6>
                </div>
            </div>
            <div>
                <hr> 
            </div>
            <div class="card-body">
                
        <div class="flex">
          <ul class="nav nav-pills flex-column">
            <h6>User</h6>
            <hr> 
            <li class="nav-item">
              <button class="btn " >Order</button>
            </li>

            <li class="nav-item">
              <button class="btn " routerLink="UserordertrakComponent">Profile</button>
            </li>
            <li class="nav-item">
              <button class="btn" routerLink="UseraddressComponent">Address</button>
            </li>
            <div>
              <hr> 
          </div>
          </ul>
          </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
         </div>   
            
        </div>
    </div>
    <!-- Column -->
</div>