<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="mt-4 text-center">
                    <img src="assets/images/users/user5.jpg" class="rounded-circle" width="150" />
                    <h4 class="card-title mt-2">Eshwar</h4>
                    <h6 class="card-subtitle">8500424039</h6>
                    <div class="row text-center justify-content-md-center">
                        <ul ngbNav #navVp="ngbNav" [(activeId)]="activev" class="nav-pills" orientation="vertical">
                            <li ngbNavItem="top">
                                <a ngbNavLink>Card Add</a>
                                <ng-template ngbNavContent>
                                    <router-outlet></router-outlet>
                                </ng-template>
                            </li>
                            <li ngbNavItem="2">
                                <a ngbNavLink>Account</a>
                                <ng-template ngbNavContent>
                                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                                        <li [ngbNavItem]="1">
                                            <a ngbNavLink>Profile</a>
                                            <ng-template ngbNavContent>
                                                <form class="form">
                                                    <div class="form-group mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">firstName</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-search-input" class="col-2 col-form-label">lastName</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-email-input" class="col-2 col-form-label">mobile</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-url-input" class="col-2 col-form-label">Date ofBirth</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="datetime" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">houseNumber</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">buildingName</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">addressLine1</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">addressLine2</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group  mt-4 pt-3 row">
                                                        <label for="example-month-input" class="col-2 col-form-label">city</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-month-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-4 pt-3 row">
                                                        <label for="example-month-input" class="col-2 col-form-label">District</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-month-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group mt-4 pt-3 row">
                                                        <label for="example-text-input" class="col-2 col-form-label">state</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text"  id="example-text-input">
                                                        </div>
                                                    </div>
                                                
                                                </form>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="2">
                                            <a ngbNavLink>Addresses</a>
                                            <ng-template ngbNavContent>
                                                <form class="form-horizontal form-material">
                                                    <div class="mb-3">
                                                        <label class="col-md-12">First Name</label>
                                                        <div class="col-md-12">
                                                            <input type="text" placeholder="First Name" class="form-control form-control-line">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="example-email" class="col-md-12">Email</label>
                                                        <div class="col-md-12">
                                                            <input type="email" placeholder="Email" class="form-control form-control-line" name="example-email" id="example-email">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-md-12">Password</label>
                                                        <div class="col-md-12">
                                                            <input type="password" placeholder="Password" class="form-control form-control-line">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-md-12">Phone No</label>
                                                        <div class="col-md-12">
                                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-md-12">Message</label>
                                                        <div class="col-md-12">
                                                            <textarea rows="5" class="form-control form-control-line"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="col-sm-12">Select Country</label>
                                                        <div class="col-sm-12">
                                                            <select class="form-select form-control-line">
                                                                <option>London</option>
                                                                <option>India</option>
                                                                <option>Usa</option>
                                                                <option>Canada</option>
                                                                <option>Thailand</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-success">Update Profile</button>
                                                        </div>
                                                    </div>
                                                  </form>
                                            </ng-template>
                                        </li>
                                        <li [ngbNavItem]="3">
                                            <a ngbNavLink>Delete Account</a>
                                            <ng-template ngbNavContent>
                                                <p>
                                                    Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
                                                    eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
                                                    ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
                                                    eget tincidunt eu, congue et odio. Duis pharetra et nisl at
                                                    faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                                                    ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
                                                    volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                                                    nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
                                                    bibendum est, eu tincidunt odio. Orci varius natoque penatibus
                                                    et magnis dis parturient montes, nascetur ridiculus mus. Mauris
                                                    aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
                                                    nec tortor vel tellus pulvinar feugiat.
                                                </p>
                                            </ng-template>
                                        </li>
                                    </ul>
                                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                                </ng-template>
                            </li>
                            <li ngbNavItem="3">
                                <a ngbNavLink>Order Trak</a>
                                <ng-template ngbNavContent>
                                
                                </ng-template>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>

        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <div [ngbNavOutlet]="navVp" class="ms-4"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>