<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 co-sm-6">
        <img src="assets/images/logos/TWAM.png" alt="" width="350">
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6">
        <carousel>
          <slide>
            <div class="text-center  text-white">
              <img src="assets/images/big/banner-1.png" alt="onlytwam" srcset="assets/images/big/banner-1.png">
            </div>
          </slide>
          <slide>
            <div class="text-center  text-white">
              <img src="assets/images/background/banner_bliss_collection.webp" alt="onlytwam"
                srcset="assets/images/background/banner_bliss_collection.webp" height="280" width="743">
            </div>
          </slide>
          <slide>
            <div class="text-center  text-white">
              <img src="assets/images/background/website_banner.webp" alt="onlytwam"
                srcset="assets/images/background/website_banner.webp" height="280" width="743">
            </div>
          </slide>
          <slide>
            <div class="text-center  text-white">
              <img src="assets/images/background/website_banner.webp" alt="onlytwam"
                srcset="assets/images/background/website_banner.webp" height="280" width="743">
            </div>
          </slide>
          <slide>
            <div class="text-center  text-white">
              <img src="assets/images/background/image_465_1.webp" alt="onlytwam"
                srcset="assets/images/background/image_465_1.webp" height="280" width="743">
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>
<!---------*ngIf="searchText==='' || categories.name.toLowerCase().includes(searchText)"-------->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 slider-background">
        <h4 class="card-title m-b-40">Best Collections</h4>
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img [src]="image1" alt="Twam" class="image1">
                    <img [src]="image2" alt="Twam" class="image2">
                    <ul class="action">
                      <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Add to wishlist</span>
                      </li>
                      <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                          cart</span>
                      </li>
                      <li>
                        <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"><i
                            class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-title" formControlName="subtitle">Titel:{{subtitle}}</p>
                    <p class="card-title" formControlName="price"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-2.webp" alt="Twam">
                  </div>
                  <ul class="action">
                    <li>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Add to wishlist</span>
                    </li>

                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                        cart</span>
                    </li>

                    <li>
                      <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i
                          class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                      </button>
                    </li>
                  </ul>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                    <!-- <div class="sci pt-2">
                      <li>
                        <a class="btn btn-success" href="">Add Cart</a>
                      </li>
                    </div> -->
                  </div>
                  <!-- <ngb-rating [max]="5" [formControl]="ratingcontrol" (click)="GetRating()" [rate]="Finalrating"></ngb-rating>
                  <p>Rating from{{ratingcount}} Users</p> -->
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-3.webp" alt="Twam">
                  </div>
                  <ul class="action">
                    <li>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Add to wishlist</span>
                    </li>

                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                        cart</span>
                    </li>

                    <li>
                      <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i
                          class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                      </button>
                    </li>
                  </ul>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                    <!-- <div class="sci pt-2">
                      <li>
                        <a class="btn btn-success" href="">Add Cart</a>
                      </li>
                    </div> -->
                  </div>


                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-4.webp" alt="Twam">
                    <ul class="action">
                      <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Add to wishlist</span>
                      </li>

                      <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                          cart</span>
                      </li>

                      <li>
                        <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i
                            class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 co-sm-6 pt-4">
        <img src="assets/images/logos/TWAM.png" alt="" width="350">
        <p class="p-4">Twam is launching it’s first multibrand
          store, and has been working towards
          providing good quality and comfortable
          innerwear for women in all phases of
          their life. </p>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-6">
        <carousel>
          <slide>
            <div class="text-center py-5  text-white">
              <img src="assets/images/product/bras-3.webp" alt="onlytwam" srcset="assets/images/product/bras-3.webp">
            </div>
          </slide>
          <slide>
            <div class="text-center py-5  text-white">
              <img src="assets/images/product/bras-02.webp" alt="onlytwam" srcset="assets/images/product/bras-02.webp">
            </div>
          </slide>
        </carousel>
        <!-- <button type="submit" class="btn btn-outline-secondary waves-effect waves-light float-right">
          Shop Now
        </button> -->
      </div>
    </div>
    <hr />
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title m-b-40">Shop By Category</h4>
        <div id="carouselExampleControls1 " class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/paintes.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <p class="card-title">Paintes</p>

                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-5.webp" alt="Twam">
                  </div>
                  <div class="card-body">
                    <p class="card-title">Bra</p>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/swimsuit-01.jpg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <p class="card-title">Swimsuit</p>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/trial13.PNG" alt="Twam">
                  </div>
                  <div class="card-body">
                    <p class="card-title">Essentials</p>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/activewear-01.jpg" alt="Twam">
                  </div>
                  <div class="card-body">
                    <p class="card-title">Active Wear</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>

<section>
  <div class="container">
    <h4 class="card-title m-b-40">TWAM’S FIT FOR GROWTH</h4>
    <div class="row py-2">
      <div class="col-lg-6 col-md-4 col-sm-3">
        <img src="assets/images/product/bra_guide.webp" alt="Twam" class="card-img-top">
        <div class="d-flex border">
          <div class="p-2">At Twam, we associate with premium
            brands to display a wide range of
            products for women</div>
          <div class="p-2">
            <button type="submit" class="btn btn-outline-secondary waves-effect waves-light float-right">
              Shop Now
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-3">
        <img src="assets/images/product/paintes-01.webp" alt="Twam" class="card-img-top">
        <div class="d-flex border">
          <div class="p-2">At Twam, we associate with premium
            brands to display a wide range of
            products for women</div>
          <div class="p-2">
            <button type="submit" class="btn btn-outline-secondary waves-effect waves-light float-right">
              Shop Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <img src="../../../../assets/images/background/D-cup-Divas-DT-Banner3.webp" alt="">
    </div>
  </div>
</section>
<section>
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-4 col-md-8 col-sm-6">
        <div class="card home_pro text-center">
          <div class="card-body">
            <span class="store-icon">
              <i class="fa fa-truck fa-3x" aria-hidden="true"></i>
            </span>
            <h4 class="card-title">FREE SHIPPING</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-6">
        <div class="card home_pro text-center">
          <div class="card-body">
            <span class="store-icon">
              <i class="fa fa-globe fa-3x" aria-hidden="true"></i>
            </span>
            <h4 class="card-title">INTERNATIONAL SHIPPING</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-6">
        <div class="card home_pro text-center">
          <div class="card-body">
            <span class="store-icon">
              <i class="fa fa-archive fa-3x" aria-hidden="true"></i>
            </span>
            <h4 class="card-title">DISCREET PACKAGING</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modalTemplate let-modal>
  <app-client-adding></app-client-adding>
</ng-template>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Cart Order List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="el-card-item position-relative pb-3">
      <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
        <img src="assets/images/gallery/chair.jpg" alt="user" />
        <div class="el-overlay overflow-hidden w-100 h-100">
          <ul
            class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
            <li class="el-item d-inline-block">
              <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                <i class="icon-link"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex no-block align-items-center">
        <div class="ms-3">
          <h4 class="mb-0">Rounded Chair</h4>
          <span class="text-muted">globe type chair for rest</span>
        </div>
        <div class="ms-auto pe-3">
          <button type="button"
            class="btn btn-dark btn-circle rounded-circle d-flex justify-content-center">$15</button>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-outline-secondary" (click)="modalOpenVC(modalCenter)">Cart</button>
    </div>
  </div>
</ng-template>
<ng-template #modalCenter let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Shapping Address
    </h4>
    <button type="button" class="btn text-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i-feather name="x"></i-feather>
    </button>
  </div>
  <div class="modal-body">
    <form class="mt-3" [formGroup]="shoppningModel.form" novalidate autocomplete="off"
      (ngSubmit)="onSubmit(modalCenter)">
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="username"
          placeholder="User Name">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="emailid"
          placeholder="Email id">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="mobileNo"
          placeholder="Mobile Number">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="city"
          placeholder="City">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="state"
          placeholder="State">
      </div>
      <div class="form-group p-2">
        <textarea class="form-control" rows="3" placeholder="Address" formControlName="address"></textarea>
      </div>
      <div class="btn_div">
        <button type="submit" class="btn btn-info waves-effect waves-light">
          Save
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>
