<!---------*ngIf="searchText==='' || categories.name.toLowerCase().includes(searchText)"-------->
<section>
  <swiper-container class="mySwiper" centered-slides="true" pagination-clickable="true" centered-slides="true"
    space-between="50" grab-cursor="true" autoplay-delay="3500" pagination-type="progressbar"
    autoplay-disable-on-interaction="false">
    <swiper-slide><img [src]="images[0]" alt="Random first slide" /></swiper-slide>
    <swiper-slide><img [src]="images[1]" alt="Random second slide" /></swiper-slide>
    <swiper-slide><img [src]="images[2]" alt="Random third slide" /></swiper-slide>
    <swiper-slide><img [src]="images[3]" alt="Random third slide" /></swiper-slide>
    <swiper-slide><img [src]="images[4]" alt="Random third slide" /></swiper-slide>
  </swiper-container>
</section>

<section>
  <div class="container">
    <h4 class="card-title m-b-40 text-center p-4">Best Collections</h4>
    <swiper-container class="mySwiper" pagination="true" autoplay-delay="3500" pagination-clickable="true"
      slides-per-view="4" grid-rows="1" space-between="30">
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img [src]="image1" alt="Twam" class="image1">
            <img [src]="image2" alt="Twam" class="image2">
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="product-name">
              <span href="">{{subtitle}}</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/ourbrand/001.webp" alt="Twam">
          </div>
          <ul class="action">
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>Add to wishlist</span>
            </li>
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                cart</span>
            </li>
            <li>
              <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                  aria-hidden="true"></i><span>View Details</span>
              </button>
            </li>
          </ul>
          <div class="card-body">
            <div class="product-name">
              <span href="">{{subtitle}}</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>

          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/ourbrand/005.webp" alt="Twam">
          </div>
          <ul class="action">
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>Add to wishlist</span>
            </li>
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                cart</span>
            </li>

            <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
            </li>
          </ul>
          <div class="card-body">
            <div class="product-name">
              <span href="">{{subtitle}}</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>

          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/ourbrand/003.webp" alt="Twam">
          </div>
          <div class="card-body">
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li>
                <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                    aria-hidden="true"></i><span>View Details</span>
                </button>
              </li>
            </ul>
            <div class="product-name">
              <span href="">{{subtitle}}</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/product/paintes-02.webp" alt="Twam">
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="product-name">
              <span href="">Triumph-Softy Panties for Women-Plain </span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/product/paintes-2.webp" alt="Twam">
          </div>
          <ul class="action">
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>Add to wishlist</span>
            </li>
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                cart</span>
            </li>
            <li>
              <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                  aria-hidden="true"></i><span>View Details</span>
              </button>
            </li>
          </ul>
          <div class="card-body">
            <div class="product-name">
              <span href="">Soie-Seamless Multicolor Net Panties</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>

          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/product/paintes-1.webp" alt="Twam">
          </div>
          <ul class="action">
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <span>Add to wishlist</span>
            </li>
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                cart</span>
            </li>

            <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
            </li>
          </ul>
          <div class="card-body">
            <div class="product-name">
              <span href="">Blossom-5-pack lace hipster briefs</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="image-wrapper">
            <img src="assets/images/product/panties.webp" alt="Twam">
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li>
                <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                    aria-hidden="true"></i><span>View Details</span>
                </button>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="product-name">
              <span href="">Amante-New Lace Bandeau Tanga-Fourth Coverage</span>
            </div>
            <div class="product-price">
              <span class="old-price">{{oldprice}}</span>
              <span class="price">{{price}}</span>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>


<!-- <section>
  <div class="container">
    <div class="col-12 slider-background">
      <h4 class="card-title m-b-40 text-center p-4">Best Collections</h4>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img [src]="image1" alt="Twam" class="image1">
              <img [src]="image2" alt="Twam" class="image2">
              <ul class="action">
                <li>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>Add to wishlist</span>
                </li>
                <li>
                  <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                    cart</span>
                </li>
                <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="product-name">
                <span href="">{{subtitle}}</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/ourbrand/001.webp" alt="Twam">
            </div>
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li>
                <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                    aria-hidden="true"></i><span>View Details</span>
                </button>
              </li>
            </ul>
            <div class="card-body">
              <div class="product-name">
                <span href="">{{subtitle}}</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/ourbrand/005.webp" alt="Twam">
            </div>
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>

              <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
              </li>
            </ul>
            <div class="card-body">
              <div class="product-name">
                <span href="">{{subtitle}}</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/ourbrand/003.webp" alt="Twam">

            </div>
            <div class="card-body">
              <ul class="action">
                <li>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>Add to wishlist</span>
                </li>
                <li>
                  <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                    cart</span>
                </li>
                <li>
                  <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i
                      class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                  </button>
                </li>
              </ul>
              <div class="product-name">
                <span href="">{{subtitle}}</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/product/paintes-02.webp" alt="Twam">
              <ul class="action">
                <li>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>Add to wishlist</span>
                </li>
                <li>
                  <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                    cart</span>
                </li>
                <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="product-name">
                <span href="">Triumph-Softy Panties for Women-Plain </span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/product/paintes-2.webp" alt="Twam">
            </div>
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>
              <li>
                <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i class="fa fa-eye"
                    aria-hidden="true"></i><span>View Details</span>
                </button>
              </li>
            </ul>
            <div class="card-body">
              <div class="product-name">
                <span href="">Soie-Seamless Multicolor Net Panties</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/product/paintes-1.webp" alt="Twam">
            </div>
            <ul class="action">
              <li>
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span>Add to wishlist</span>
              </li>
              <li>
                <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                  cart</span>
              </li>

              <li (click)="openModal()"><i class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
              </li>
            </ul>
            <div class="card-body">
              <div class="product-name">
                <span href="">Blossom-5-pack lace hipster briefs</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <div class="image-wrapper">
              <img src="assets/images/product/panties.webp" alt="Twam">
              <ul class="action">
                <li>
                  <i class="fa fa-heart" aria-hidden="true"></i>
                  <span>Add to wishlist</span>
                </li>
                <li>
                  <i class="fa fa-shopping-cart" aria-hidden="true" (click)="openEnd(content)"></i><span>Add to
                    cart</span>
                </li>
                <li>
                  <button type="button" class="btn  waves-effect waves-light" (click)="openModal()"> <i
                      class="fa fa-eye" aria-hidden="true"></i><span>View Details</span>
                  </button>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="product-name">
                <span href="">Amante-New Lace Bandeau Tanga-Fourth Coverage</span>
              </div>
              <div class="product-price">
                <span class="old-price">{{oldprice}}</span>
                <span class="price">{{price}}</span>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section> -->




<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4 co-sm-6 pt-4">
        <img src="assets/images/logos/TWAM.png" alt="" width="350">
        <p class="p-4">Twam is launching it’s first multibrand
          store, and has been working towards
          providing good quality and comfortable
          innerwear for women in all phases of
          their life. </p>
      </div>
      <div class="col-lg-6 col-md-8 col-sm-6">
        <swiper-container init="false" class="mySwiper4" autoplay-delay="4500" pagination="true"
          pagination-clickable="true" centered-slides="true">
          <swiper-slide>
            <div class="card">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/product/bras-3.webp" alt="onlytwam" srcset="assets/images/product/bras-3.webp">
            </div>
          </div>
          </swiper-slide>
          <swiper-slide>
            <div class="card">
              <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
            <img src="assets/images/product/bras-02.webp" alt="onlytwam" srcset="assets/images/product/bras-02.webp">
         </div>
         </div>
          </swiper-slide>
        </swiper-container>

        <!-- <button type="submit" class="btn btn-outline-secondary waves-effect waves-light float-right">
          Shop Now
        </button> -->
      </div>
    </div>
    <hr />
  </div>
</section>

<section
  style="background: url('../../../../assets/images/background/different-kinds-of-bra.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;">
  <div class="container p-4">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" centered-slides="true"
      pagination-clickable="true" slides-per-view="3" centered-slides="true" space-between="50" grab-cursor="true"
      autoplay-delay="2500" autoplay-disable-on-interaction="false">
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/004.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Soie-T-Shirt Bra</h6>
                <span class="text-muted">Padded Wired</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">725<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/001.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Triumph-T-Shirt Bra</h6>
                <span class="text-muted">Padded Wired</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">615<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/002.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Enamor-Everyday Bra</h6>
                <span class="text-muted">Wireless Non Padded</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">569<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/003.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Blossom-Spotlight Bra</h6>
                <span class="text-muted">Wireless Padded</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">715<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/005.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Amante-T-Shirt Bra </h6>
                <span class="text-muted">Wireless PaddedEssential</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">579<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/006.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Trimph-Minimizer Bra</h6>
                <span class="text-muted">Wireless Non Padded</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">695<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/007.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Trimph-Briefs</h6>
                <span class="text-muted">Midnight Garden Midi</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">679<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/008.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Amante-Hipster</h6>
                <span class="text-muted">Seamless Essential -Full Coverage</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">625<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/009.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Soie-Briefs</h6>
                <span class="text-muted">Lift Smart Maxi</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">659<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="card">
          <div class="el-card-item position-relative pb-3">
            <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
              <img src="assets/images/big/010.webp" alt="" />
            </div>
            <div class="d-flex no-block align-items-center">
              <div class="ms-3">
                <h6 class="mb-0">Blossom-Fashion 75 Midi</h6>
                <span class="text-muted"> Medium Coverage</span>
              </div>
              <div class="ms-auto pe-3">
                <button type="button" class="btn btn-dark  d-flex justify-content-center">859<i
                    class="fas fa-rupee-sign"></i></button>
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>

<section>
  <div class="container">
    <h4 class="card-title m-b-40 p-4 ">TWAM’S FIT FOR GROWTH</h4>
    <div class="row py-2">
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/bra_guide.webp" alt="Twam" class="card-img-top">
          <div class="card-img-overlay">
            <div class="text-muted">
              <p class="fs-3 mb-0">Bras</p>
            </div>
          </div>
          <div class="card-body">
            <p class="fw-normal">Elegant and comfortable bras designed to enhance confidence and support</p>
            <button class="btn btn-outline-success btn-rounded  waves-effect waves-light mt-3 border-none">Shop
              Now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/paintes.webp" alt="Twam" class="card-img-top">
          <div class="card-img-overlay">
            <div class="text-white">
              <p class="fs-3 mb-0">Paintes</p>
            </div>
          </div>
          <div class="card-body">
            <p class="fw-normal">A woman painting, capturing her essence through fluid, graceful brushstrokes</p>
            <button class="btn btn-outline-success btn-rounded  waves-effect waves-light mt-3">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/theory-activewear-clothing-line.webp" alt="Twam" class="card-img-top">
          <div class="card-img-overlay">
            <div class="text-white">
              <p class="fs-3 mb-0">Activewear</p>
            </div>
          </div>
          <div class="card-body">
            <p class="fw-normal">Stylish, comfortable, and functional activewear for every workout and beyond</p>
            <button class="btn btn-outline-success btn-rounded  waves-effect waves-light mt-3">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="m-auto">
          <img src="assets/images/logos/TWAM.png" alt="" width="250">
        </div>

      </div>
      <div class="col-lg-8 col-md-6">
        <swiper-container class="mySwiper Logos" pagination="true" pagination-clickable="true" centered-slides="true"
          pagination-clickable="true" slides-per-view="4" centered-slides="true" space-between="30" grab-cursor="true"
          autoplay-delay="2500" autoplay-disable-on-interaction="false">
          <swiper-slide><img src="assets/images/logo/amante_1.webp" alt="onlytwam"></swiper-slide>
          <swiper-slide><img src="assets/images/logo/blossom.webp" alt="onlytwam"></swiper-slide>
          <swiper-slide><img src="assets/images/logo/Jockey.webp" alt="onlytwam"></swiper-slide>
          <swiper-slide><img src="assets/images/logo/logo-enamor.webp" alt="onlytwam"></swiper-slide>
          <swiper-slide><img src="assets/images/logo/logo-triumph.webp" alt="onlytwam"></swiper-slide>
          <swiper-slide><img src="assets/images/logo/soie.webp" alt="onlytwam"></swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>

<ng-template #modalTemplate let-modal>
  <app-client-adding></app-client-adding>
</ng-template>
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <h4 class="offcanvas-title">Cart Order List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
    <div class="el-card-item position-relative pb-3">
      <div class="el-card-avatar mb-3 el-overlay-1 overflow-hidden w-100 position-relative text-center">
        <img src="assets/images/big/001.webp" alt="" />
        <div class="el-overlay overflow-hidden w-100 h-100">
          <ul
            class="list-style-none el-info text-decoration-none d-inline-block text-uppercase text-white bg-transparent p-0 m-auto">
            <li class="el-item d-inline-block">
              <a class="btn default btn-outline el-link border-white text-white" href="javascript:void(0);">
                <i class="icon-link"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex no-block align-items-center">
        <div class="ms-3">
          <h4 class="mb-0">Trimph</h4>
          <span class="text-muted">Triaction Hybrid Lite P-BLACK</span>
        </div>
        <div class="ms-auto pe-3">
          <button type="button" class="btn btn-dark  d-flex justify-content-center">759<i
              class="fas fa-rupee-sign"></i></button>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-outline-secondary" (click)="modalOpenVC(modalCenter)">Cart</button>
    </div>
  </div>
</ng-template>
<ng-template #modalCenter let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Shapping Address
    </h4>
    <button type="button" class="btn text-danger close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i-feather name="x"></i-feather>
    </button>
  </div>
  <div class="modal-body">
    <form class="mt-3" [formGroup]="shoppningModel.form" novalidate autocomplete="off"
      (ngSubmit)="onSubmit(modalCenter)">
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="username"
          placeholder="User Name">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="emailid"
          placeholder="Email id">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="mobileNo"
          placeholder="Mobile Number">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="city"
          placeholder="City">
      </div>
      <div class="form-group p-2">
        <input type="text" class="form-control" id="nametext" aria-describedby="name" formControlName="state"
          placeholder="State">
      </div>
      <div class="form-group p-2">
        <textarea class="form-control" rows="3" placeholder="Address" formControlName="address"></textarea>
      </div>
      <div class="btn_div">
        <button type="submit" class="btn btn-info waves-effect waves-light">
          Save
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">
      Close
    </button>
  </div>
</ng-template>