<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="image-preview" appGetZoomPosition (appGetZoomPosition)="onZoomImage($event)">
          <img [src]="selectedImage" alt="Selected Image">
        </div>

        <ul class="thumbs">
          <li class="item">
            <img src="assets/images/gallery/1.jpg" alt="" (click)="onThumClick('1')">
          </li>
          <li class="item">
            <img src="assets/images/gallery/2.jpg" alt="" (click)="onThumClick('2')">
          </li>
          <li class="item">
            <img src="assets/images/gallery/3.jpg" alt="" (click)="onThumClick('3')">
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h5><small> VERY SEXY</small></h5>
        <h4>Bombshell Add-2-Cups Hibiscus Shine Strap Lace Push-Up Bra</h4>
        <div class="d-flex align-items-center">
          <div class="ps-3">
            <ngb-rating [max]="5" [formControl]="ratingcontrol" (click)="GetRating()" [rate]="Finalrating"></ngb-rating>
          </div>
          <div class="ps-3">
            <p>{{ratingcount}} Reviews</p>
          </div>
        </div>
        <div class="d-flex no-block align-items-center mb-3"><span><i class="fas fa-rupee-sign"></i> 5205</span>
          <div class="ms-auto"><a href="javascript:void(0)" class="link">11230631</a>
          </div>
        </div>
        <div>
          <h6>Color:</h6>
        </div>
        <div class="d-flex align-items-center">
          <div class="me-2"><img src="assets/images/users/1.jpg" (click)="onColorClick('1')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/2.jpg" (click)="onColorClick('2')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/3.jpg" (click)="onColorClick('3')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/4.jpg" (click)="onColorClick('4')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/5.jpg" (click)="onColorClick('5')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/6.jpg" (click)="onColorClick('6')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/7.jpg" (click)="onColorClick('7')" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/users/8.jpg" (click)="onColorClick('8')" alt="user" width="50"
              class="border"></div>
        </div>
        <div>
          <h6>Size:</h6>
        </div>
        <div class="d-flex align-items-center">
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30D</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30DDD</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">32A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">32A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30DDD</button></div>
        </div>
            <button type="button" class="btn btn-danger"> Place Order </button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Description</a>
          <ng-template ngbNavContent>
            <p>
              Raw denim you probably haven't heard of them jean shorts Austin.
              Nesciunt tofu stumptown aliqua, retro synth master cleanse.
              Mustache cliche tempor, williamsburg carles vegan helvetica.
              Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
              sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
              placeat salvia cillum iphone. Seitan aliquip quis cardigan
              american apparel, butcher voluptate nisi qui.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Reviews</a>
          <ng-template ngbNavContent>
            <p>
              Exercitation +1 labore velit, blog sartorial PBR leggings next
              level wes anderson artisan four loko farm-to-table craft beer
              twee. Qui photo booth letterpress, commodo enim craft beer
              mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
              nostrud organic, assumenda labore aesthetic magna delectus
              mollit. Keytar helvetica VHS salvia yr, vero magna velit
              sapiente labore stumptown. Vegan fanny pack odio cillum wes
              anderson 8-bit, sustainable jean shorts beard ut DIY ethical
              culpa terry richardson biodiesel. Art party scenester stumptown,
              tumblr butcher vero sint qui sapiente accusamus tattooed echo
              park.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>Three</a>
          <ng-template ngbNavContent>
            <p>
              Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
              eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
              ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
              eget tincidunt eu, congue et odio. Duis pharetra et nisl at
              faucibus. Quisque luctus pulvinar arcu, et molestie lectus
              ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
              volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
              nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
              bibendum est, eu tincidunt odio. Orci varius natoque penatibus
              et magnis dis parturient montes, nascetur ridiculus mus. Mauris
              aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
              nec tortor vel tellus pulvinar feugiat.
            </p>
          </ng-template>
        </li>
      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</section>

<app-zoom-image-viewer *ngIf="coordinates" [coordinates]="coordinates"
  [imageUrl]="selectedImage"></app-zoom-image-viewer>