<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="image-preview" appGetZoomPosition (appGetZoomPosition)="onZoomImage($event)">
          <img src="assets/images/gallery/{{imageIndex}}.webp" alt="Selected Image">
        </div>
        <ul class="thumbs">
          <li class="item">
            <img src="assets/images/gallery/31.webp" alt="" (click)="imageIndex = 31">
          </li>
          <li class="item">
            <img src="assets/images/gallery/30.webp" alt="" (click)="imageIndex = 30">
          </li>
          <li class="item">
            <img src="assets/images/gallery/28.webp" alt="" (click)="imageIndex = 28">
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h5><small>Jokey</small></h5>
        <h4>Bombshell Add-2-Cups Hibiscus Shine Strap Lace Push-Up Bra</h4>
        <div class="d-flex align-items-center">
          <div class="ps-3">
            <ngb-rating [max]="5" [formControl]="ratingcontrol" (click)="GetRating()" [rate]="Finalrating"></ngb-rating>
          </div>
          <div class="ps-3">
            <p>{{ratingcount}} Reviews</p>
          </div>
        </div>
        <div class="d-flex no-block align-items-center mb-3"><span><i class="fas fa-rupee-sign"></i> 5205</span>
          <div class="ms-auto"><a href="" class="link">11230631</a>
          </div>
        </div>
        <div>
          <h6>Color:</h6>
        </div>
        <div class="d-flex align-items-center">
          <div class="me-2"><img src="assets/images/gallery/24.webp" (click)="imageIndex = 24" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/25.webp" (click)="imageIndex = 25" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/26.webp" (click)="imageIndex = 26" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/15.webp" (click)="imageIndex = 15" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/11.webp" (click)="imageIndex = 11" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/6.webp" (click)="imageIndex = 6" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/28.webp" (click)="imageIndex = 28" alt="user" width="50"
              class="border"></div>
          <div class="me-2"><img src="assets/images/gallery/29.webp" (click)="imageIndex = 29" alt="user" width="50"
              class="border"></div>
        </div>
        <div>
          <h6>Size:</h6>
        </div>
        <div class="d-flex align-items-center">
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30D</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30DDD</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">32A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">32A</button></div>
          <div class="ngb-tp-meridian me-2"><button type="button" class="btn btn-outline-primary">30DDD</button></div>
        </div>
        <div class="quantity d-flex align-items-center ">
          <form class="mt-3">
            <div class="input-group mb-3">
              <button class="btn mr-0 btn-light" type="button" (click)="changeQuantity('min')">
                <i class="ti-minus"></i>
              </button>
              <input type="text" class="form-control text-length" [value]="productquantity" readonly />
              <button class="btn mr-0 btn-light" type="button" (click)="changeQuantity('max')">
                <i class="ti-plus"></i>
              </button>
            </div>
          </form>
          <div class="align-items-center p-4">
            <button type="button" class="btn btn-danger" (click)="placeorder()"> Place Order </button>
          </div>
        </div>
        <div class="align-items-center p-4">
        <h6>Lift & Lining</h6>
        <li><small>Push-up padding adds 1 cup size</small></li>
        <li><small>Underwire cups</small></li>
        <h6>Straps & Hooks</h6>
        <li><small>Adjustable straps</small></li>
        <li><small>Back closure</small></li>
        <li><small>Double row of hook-and-eye closures</small></li>
        <h6>Details & Fabric</h6>
        <li><small>Rhinestone logo shine straps</small></li>
        <li><small>Hand wash</small></li>
        <li><small>Imported</small></li>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="card-title m-b-40 ">Product Description</h4>
        <p class="p-4">A product description is a form of marketing copy used to describe and explain the benefits of
          your product.In
          other words, it provides all the information and details of your product on your ecommerce site. These product
          details can be one sentence, a short paragraph or bulleted. They can be serious, funny or quirky.</p>
      </div>
      <div class="col-12">
        <h4 class="card-title m-b-40 ">Product Reviews</h4>
        <div class="d-flex flex-row comment-row mt-0 d-flex my-2 p-3">
          <div class="p-2 pe-0">
            <img src="assets/images/users/user1.jpg" alt="user" width="50" class="rounded-circle" />
          </div>
          <div class="comment-text ps-3 w-100 w-100">
            <h5 class="font-medium mb-0">James Anderson</h5>
            <span class="mb-3 d-block text-muted">Lorem Ipsum is simply dummy text of the printing and type setting
              industry.
            </span>
            <div class="comment-footer">
              <span class="text-muted float-end">April 14, 2016</span>
              <span class="action-icons">
                <a href="javascript:void(0)">
                  <i class="ti-pencil-alt"></i>
                </a>
                <a href="javascript:void(0)">
                  <i class="ti-check"></i>
                </a>
                <a href="javascript:void(0)">
                  <i class="ti-heart"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 slider-background">
        <h4 class="card-title m-b-40">popular Collections</h4>
        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper">
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras.webp" alt="Twam" class="">
                  </div>
                  <ul class="action">
                    <li>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Add to wishlist</span>
                    </li>
                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to
                        cart</span>
                    </li>
                    <li>
                      <button type="button" class="btn  waves-effect waves-light"><i class="fa fa-eye"
                          aria-hidden="true"></i><span>View Details</span>
                      </button>
                    </li>
                  </ul>

                  <div class="card-body">
                    <p class="card-title" formControlName="subtitle">Titel:{{subtitle}}</p>
                    <p class="card-title" formControlName="price"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-2.webp" alt="Twam">
                  </div>
                  <ul class="action">
                    <li>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Add to wishlist</span>
                    </li>

                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to
                        cart</span>
                    </li>

                    <li>
                      <button type="button" class="btn  waves-effect waves-light"> <i class="fa fa-eye"
                          aria-hidden="true"></i><span>View Details</span>
                      </button>
                    </li>
                  </ul>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                    <!-- <div class="sci pt-2">
                      <li>
                        <a class="btn btn-success" href="">Add Cart</a>
                      </li>
                    </div> -->
                  </div>
                  <!-- <ngb-rating [max]="5" [formControl]="ratingcontrol" (click)="GetRating()" [rate]="Finalrating"></ngb-rating>
                  <p>Rating from{{ratingcount}} Users</p> -->
                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-3.webp" alt="Twam">
                  </div>
                  <ul class="action">
                    <li>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <span>Add to wishlist</span>
                    </li>

                    <li>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to
                        cart</span>
                    </li>

                    <li>
                      <button type="button" class="btn  waves-effect waves-light"> <i class="fa fa-eye"
                          aria-hidden="true"></i><span>View Details</span>
                      </button>
                    </li>
                  </ul>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                    <!-- <div class="sci pt-2">
                      <li>
                        <a class="btn btn-success" href="">Add Cart</a>
                      </li>
                    </div> -->
                  </div>


                </div>
                <div class="card">
                  <div class="image-wrapper">
                    <img src="assets/images/product/bras-4.webp" alt="Twam">
                    <ul class="action">
                      <li>
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span>Add to wishlist</span>
                      </li>

                      <li>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to
                          cart</span>
                      </li>

                      <li>
                        <button type="button" class="btn  waves-effect waves-light"> <i class="fa fa-eye"
                            aria-hidden="true"></i><span>View Details</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p class="card-title">Titel:{{subtitle}}</p>
                    <p class="card-title"> Price : {{price}} </p>
                    <div class="ml-auto d-flex align-items-center">
                      <ul class="list-inline font-12 dl m-r-10">
                        <li class="list-inline-item"> <ngb-rating [max]="5" [formControl]="ratingcontrol"
                            (click)="GetRating()" [rate]="Finalrating"></ngb-rating></li>
                        <li class="list-inline-item"> {{ratingcount}} Users</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <hr />
  </div>
</section>
<app-zoom-image-viewer *ngIf="coordinates" [coordinates]="coordinates"
  [imageUrl]="getImageUrl()"></app-zoom-image-viewer>