<section>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="image-preview" appGetZoomPosition (appGetZoomPosition)="onZoomImage($event)">
          <img [src]="selectedImage" alt="Selected Image">
        </div>

        <ul class="thumbs">
          <li class="item">
            <img src="assets/images/gallery/1.jpg" alt="" (click)="onThumClick('1')">
          </li>
          <li class="item">
            <img src="assets/images/gallery/2.jpg" alt="" (click)="onThumClick('2')">
          </li>
          <li class="item">
            <img src="assets/images/gallery/3.jpg" alt="" (click)="onThumClick('3')">
          </li>
          <li class="item">
            <img src="assets/images/gallery/paintes-01.webp" alt="" (click)="onThumClick('4')">
          </li>
        </ul>
      </div>
      <div class="col-6">
        <h5><small> VERY SEXY</small></h5>
        <h4>Bombshell Add-2-Cups Hibiscus Shine Strap Lace Push-Up Bra</h4>
        <div class="d-flex align-items-center">
          <div class="ps-3">
            <ngb-rating [max]="5" [formControl]="ratingcontrol" (click)="GetRating()" [rate]="Finalrating"></ngb-rating>
          </div>
          <div class="ps-3">
            <p>{{ratingcount}}  Reviews</p>
          </div>
        </div>
        <div class="d-flex no-block align-items-center mb-3"><span><i class="fas fa-rupee-sign"></i> 5205</span>
          <div class="ms-auto"><a href="javascript:void(0)" class="link">11230631</a>
          </div>
        </div>
        <div> <h6>Smooth:</h6></div>
        <div class="d-flex align-items-center">
        <div class="me-2"><img src="assets/images/users/1117924195D1_SW.avif" (click)="onColorClick('1')" alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/112057954YQY_SW.avif" (click)="onColorClick('2')" alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/1120579566H6_SW.avif" (click)="onColorClick('3')"alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/1121397439H6_SW.avif" (click)="onColorClick('4')"alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/1121398233F6_SW.avif" (click)="onColorClick('5')"alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/1121398265H8_SW.avif" (click)="onColorClick('6')"alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/112161532OFT_SW.avif" (click)="onColorClick('7')"alt="user" width="45" class="rounded-circle border"></div>
        <div class="me-2"><img src="assets/images/users/V437540_DL3.avif"     (click)="onColorClick('7')"alt="user" width="45" class="rounded-circle border"></div>
      </div>
      <div> <h6>Double Shine Strap:</h6></div>
      <div class="d-flex align-items-center">
        <div class="me-2"><img src="assets/images/users/V437540_DL3.avif"     (click)="onColorClick('7')"alt="user" width="45" class="rounded-circle border"></div>
      </div>
     <div><h6>Lace Shine Strap:</h6></div>
     <div class="d-flex align-items-center">
      <div class="me-2"><img src="assets/images/users/1117924195D1_SW.avif" (click)="onColorClick('1')" alt="user" width="45" class="rounded-circle border"></div>
      <div class="me-2"><img src="assets/images/users/112057954YQY_SW.avif" (click)="onColorClick('2')" alt="user" width="45" class="rounded-circle border"></div>
    </div>
    <div><h6>Smooth Shine Strap:</h6></div>
    <div class="d-flex align-items-center">
      <div class="me-2"><img src="assets/images/users/V437540_DL3.avif" (click)="onColorClick('1')" alt="user" width="45" class="rounded-circle border"></div>
      <div class="me-2"><img src="assets/images/users/112057954YQY_SW.avif" (click)="onColorClick('2')" alt="user" width="45" class="rounded-circle border"></div>
    </div>
    <div> <h6>Lace:</h6></div>
    <div class="d-flex align-items-center">
      <div class="me-2"><img src="assets/images/users/1121398233F6_SW.avif" (click)="onColorClick('1')" alt="user" width="45" class="rounded-circle border"></div>
      <div class="me-2"><img src="assets/images/users/112057954YQY_SW.avif" (click)="onColorClick('2')" alt="user" width="45" class="rounded-circle border"></div>
    </div>


      </div>
    </div>

  </div>
</section>
<app-zoom-image-viewer *ngIf="coordinates" [coordinates]="coordinates"
  [imageUrl]="selectedImage"></app-zoom-image-viewer>