<p style="color:green;font-size:20px;">{{ activityMsg }}</p>
<!-- style="background:url(assets/images/background/login-register.jpg) no-repeat center center;" -->
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
  <div class="auth-box m-3 m-md-0">
    <div>
      <div class="text-center">
        <span class="db"><img src="assets/images/logos/TWAM.png" alt="logo" width="150" /></span>
        <h5 class="font-medium mb-4">Sign Up </h5>
      </div>
      <!-- Form -->
      <div class="row">
        <div class="col-12">
          <form class="form-horizontal mt-3" name="form" [formGroup]="RegistrationModel.form" novalidate
          autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="mb-3 row ">
              <div class="col-12 ">
                <input class="form-control" type="text"  formControlName="firstName"
                  placeholder="First Name">
              </div>
            </div>
            <div class="mb-3 row ">
              <div class="col-12 ">
                <input class="form-control" type="text"  formControlName="lastName" placeholder="Last Name">
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-12 ">
                <input class="form-control" type="text"  formControlName="mobile"
                  placeholder="Mobile Number">
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-12 ">
                <input class="form-control" type="text"  formControlName="username"
                  placeholder="User Name">
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-12 ">
                <input class="form-control" type="text"  formControlName="email" placeholder="Email">
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-12 ">
                <input class="form-control" type="password"  formControlName="password"
                  placeholder="Password">
              </div>
            </div>
            <!-- <div class="mb-3 row">
              <div class="col-12 ">
                <input class="form-control" type="password"  formControlName="passwordHash"
                  placeholder="Confirm Password">
              </div>
            </div> -->
         
            <div class="mb-3 text-center ">
              <div class="col-xs-12 mb-4">
                <button class="btn d-block w-100 btn-lg btn-info" type="submit">SIGN UP</button>
              </div>
            </div>
            <div class="mb-3 mb-0 mt-2 ">
              <div class="col-sm-12 text-center ">
                Already have an account? <a href="login" class="text-info ms-1 "><b>Sign In</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>