<!-- ============================================================== -->
<!-- <div class="navbar-header d-none d-lg-flex justify-content-center">
 
  <a
    (click)="showMobileMenu = !showMobileMenu"
    class="nav-toggler waves-effect waves-light d-block d-lg-none"
    href="javascript:void(0)"
  >
    <i [ngClass]="showMobileMenu ? 'ti-close' : 'ti-menu'"></i>
  </a>
 
  <a class="navbar-brand" href="/">
   
    <b class="logo-icon">
   
      <img
        src="assets/images/logos/xtreme-dark-icon.svg"
        alt="homepage"
        class="dark-logo"
      />
  
      <img
        src="assets/images/logos/xtreme-dark-icon.svg"
        alt="homepage"
        class="light-logo"
      />
    </b>
 
    <span class="logo-text">
      <img
        src="assets/images/logos/xtreme-dark-text.svg"
        alt="homepage"
        class="dark-logo"
      />
     
      <img
        src="assets/images/logos/xtreme-dark-text.svg"
        class="light-logo"
        alt="homepage"
      />
    </span>
  </a>

  <a
    class="topbartoggler d-block d-lg-none waves-effect waves-light"
    href="javascript:void(0)"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
  >
    <i class="ti-more"></i>
  </a>
</div> -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start">

  <app-horizontal-sidebar></app-horizontal-sidebar>


</ul>

<!-- Navbar Header for horizontal only -->
<ul class="navbar-nav float-inherit">
  <img src="assets/images/logos/TWAM.png" height="100" class="p-2">
</ul>

<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-md-end">
  <!-- ============================================================== -->
  <!-- Search -->
  <!-- ============================================================== -->
  <li class="nav-item search-box">
    <form class="mt-3">
      <div class="input-group input-group-lg mb-3">
        <input type="text" placeholder="Search by Email" aria-label="" class="form-control"
          (input)="onSearchTextCharged()" [(ngModel)]="enteredSearchValue"><button type="button"
          (click)="showSearch = !showSearch" class="btn btn-light"><i class="ti-search"></i></button>
      </div>
    </form>
  </li>

  <!--------========================love symbol=================-->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-end" >
    <!----------------*ngIf="isLoggedIn"  *ngIf="isLoggedIn"-------------->
    <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" (click)="cart()"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i-feather name="shopping-cart"></i-feather>
      <span class="badge bg-danger badge-pill "*ngIf="isLoggedIn">{{cartItem}}</span>
    </a>
  </li>
  <li class="nav-item dropdown" ngbDropdown placement="bottom-end" >
    <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i-feather name="heart"></i-feather>
    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox dropdown-menu-animate-up" ngbDropdownMenu>
      <span class="with-arrow">
        <span class="bg-primary"></span>
      </span>
      <ul class="list-style-none">
        <li>
          <div class="drop-title bg-primary text-white">
            <h4 class="mb-0 mt-1">Add to Wishlist</h4>
            <span class="fw-light">List</span>
          </div>
        </li>
        <li>
          <div class="message-center notifications">
            <!-- Message -->
            <a href="javascript:void(0)" class="message-item border-bottom d-block text-decoration-none"
              *ngFor="let getCartDetail of getCartDetails">
              <span>
                <img [src]="getCartDetail.images" alt="Product Image" width="80" />
              </span>
              <span class="mail-contnet d-inline-block w-75 ps-2 align-middle">
                <h6 class="message-title">{{getCartDetail.title }}</h6>
                <span class="mail-desc  d-block text-muted text-truncate">{{getCartDetail.price}} <i
                    class="fas fa-rupee-sign"></i></span>
              </span>
            </a>
          </div>
        </li>
        <li>
          <a class="link text-center mb-1" href="javascript:void(0);">
            <strong> Check all notifications </strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- End Messages -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
    <a ngbDropdownToggle class="
        nav-link
        dropdown-toggle
        text-muted
        waves-effect waves-dark
        pro-pic
      " href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div>
        <!-- Show default or empty image before login -->
        <div *ngIf="!validUser">
          <img src="assets/images/users/user1.jpg" alt="default user"   class="rounded-circle"
          width="31" />
        </div>
      
        <!-- Show user image after login -->
        <div *ngIf="validUser">
          <img [src]="userImage" alt="user"   class="rounded-circle"
          width="31" />
        </div>
      </div>    </a>
    <div class="dropdown-menu dropdown-menu-right user-dd dropdown-menu-animate-up" ngbDropdownMenu>
      <span class="with-arrow">
        <span class="bg-primary"></span>
      </span>
      <div class="
          d-flex
          no-block
          align-items-center
          p-3
          bg-primary
          text-white
          mb-2
        ">
            <img src="assets/images/users/user1.jpg" alt="default user" *ngIf="!validUser" class="img-circle" width="60" />
       
            <img [src]="userImage" alt="user" class="img-circle" *ngIf="validUser" width="60" />
        
        <div class="ms-2">
          <h4 class="mb-0">Only Twam</h4>
          <p class="mb-0">onlytwam@gmail.com</p>
        </div>
      </div>
      <a class="dropdown-item" (click)="profile()">
        <i class="ti-user me-2 ms-1"></i> My Profile</a>
      <!-- <a class="dropdown-item" href="javascript:void(0)">
        <i class="ti-wallet me-2 ms-1"></i> My Balance</a> -->
      <!-- <a class="dropdown-item" href="javascript:void(0)">
        <i class="ti-email me-2 ms-1"></i> Inbox</a> -->
      <!-- <a class="dropdown-item" href="javascript:void(0)">
        <i class="ti-settings me-2 ms-1"></i> Account Setting</a> -->
      <a class="dropdown-item" (click)="login()" *ngIf="!validUser">
        <i class="fa fa-power-off me-2 ms-1"></i>Sign Up</a>
        <a class="dropdown-item" (click)="logout()"*ngIf="validUser">
          <i class="fa fa-power-off me-2 ms-1"></i>Sign Out</a>
      <!-- <div class="ps-4 p-2">
        <a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a>
      </div> -->
    </div>
  </li>

  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>