  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ modalTitle }}</h5>
      <span class="close close-class" (click)="closeModal()"><i class="ki-solid ki-double-left"></i>
      </span>
    </div>
    <div class="modal-body">
      <!-- Modal content here -->
      <p>This is the content of the left-to-right modal.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    </div>
  </div>