

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif" !important; 
    font-size: 14px !important;
}
.placeholder{
    color: #eda80b !important;
}
a {
    text-decoration: none !important;
    cursor: pointer !important;
}

@font-face {
    font-family: "Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif";
    src: url('../src/assets/scss/font/PlusJakartaSans-Regular.ttf') format('truetype');
}