

html, body { height: 100%; }
body { margin: 0; font-family: "MyFont" !important; }
.placeholder{
    color: #eda80b !important;
}
a {
    text-decoration: none !important;
}

@font-face {
    font-family: "MyFont";
    src: url('../src/assets/scss/font/PlusJakartaSans-Regular.ttf') format('truetype');
}