<div class="row">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="nav-link active "(click)="openEnd(content)"><i class="me-2 mdi mdi-tune"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click)="openEnd(content)">Size</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "(click)="openEnd(content)">Style</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "(click)="openEnd(content)">Collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "(click)="openEnd(content)">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "(click)="openEnd(content)">Rating</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "(click)="openEnd(content)">Fabric Family</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 col-sm-3">
        <div class="card">
          <img src="assets/images/product/activewear-03.jpg" alt="Twam" class="card-img-top">
          <div class="card-body">
            <p>Perfect Coverage Supima Cotton T-Shirt Bra | A039 </p>
            <a href="#" class="btn ">Go somewhere</a>
          </div>
        </div>
      </div> -->
    </div>
 
  </div>
  </div>


  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Filter</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
    </div>
    <hr />
    <div class="offcanvas-body">
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Sizes">
          <ng-template ngbPanelContent>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">L</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">M</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">XL</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
              <label class="form-check-label" for="inlineCheckbox4">XS</label>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Style">
          <ng-template ngbPanelContent>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Bralettes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Demi Bras</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Plunge Bras</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
              <label class="form-check-label" for="inlineCheckbox4">Strapless Bras</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
              <label class="form-check-label" for="inlineCheckbox5">Teddies</label>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Collection">
          <ng-template ngbPanelContent>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
              <label class="form-check-label" for="inlineCheckbox5">Blossom</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
              <label class="form-check-label" for="inlineCheckbox5">Amante</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">jokey</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Enamor</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Triumph </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
              <label class="form-check-label" for="inlineCheckbox4">Soie </label>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Color">
          <ng-template ngbPanelContent>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Beige</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">Black</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
              <label class="form-check-label" for="inlineCheckbox3">Blue</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
              <label class="form-check-label" for="inlineCheckbox4">Brown</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
              <label class="form-check-label" for="inlineCheckbox5">Green</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
              <label class="form-check-label" for="inlineCheckbox6">Pink</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
              <label class="form-check-label" for="inlineCheckbox7">Purple</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
              <label class="form-check-label" for="inlineCheckbox8">Red</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
              <label class="form-check-label" for="inlineCheckbox9">White</label>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="text-end pt-2">
        <button type="button" class="btn btn-outline-secondary" (click)="offcanvas.close('Close click')">Close</button>
      </div>
    </div>
  </ng-template>